:root {
    --space: 2px;
}

.Start_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: black;

    

    position: absolute;
    width: 327px;
    height:32 px;
    left: 24px;
    top: 60px;
}


