.Start_title {
  color: var(--color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 32px;
  background-color: var(--background-color);

  position: static;
  width: 327px;
  height: 32 px;
  margin-left: 24px;
  margin-right: 24px;
}

.Start_title > h1 {
  font-size: 18px;
}
