.Stories {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: static;
  width: 327px;
  height: 140px;
  left: 24px;
  top: 124px;
  overflow-x: scroll;
}

.Stories__Story {
  position: static;
  width: 100px;
  height: 140px;
  top: 0px;
  border-radius: 16px;
  flex: none;
  flex-grow: 0;
  margin: 0px 12px;
}

.Story1 {
  left: 0px;
  order: 0;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 91.43%
    ),
    url(/media/Stories/Story\ 1.svg);
}

.Story2 {
  left: 112px;
  order: 1;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 91.43%
    ),
    url(/media/Stories/Story\ 2.svg);
}
.Story3 {
  left: 224px;
  order: 2;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 91.43%
    ),
    url(/media/Stories/Story\ 3.svg);
}
.Story4 {
  left: 336px;
  order: 3;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.6) 91.43%
    ),
    url(/media/Stories/Story\ 1.svg);
}

/* Styling the Profile Picture */
.Picture__Border {
  position: relative;
  width: 40px;
  height: 40px;
  left: 30px;
  top: 96px;
}

.Profile__Picture {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 2px;
  top: 2px;
  border-radius: 100px;
  border: 2px solid #181a1c;
  z-index: 1;
}

.Story {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 0px;
  top: 0px;
  border-radius: 100px;
  background: var(--bg-linear-gradient);
}
